<section class="block">
  <header class="block__header">
    <h2>What our Customers are Saying</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.</p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A happy, smiling customer" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            optio officiis dolore earum error eaque perferendis laudantium sed
            praesentium dolorum.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>

<section class="block block--whitebg block-testomonial">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">What our Customer
        are Saying</h2>
      <p class="block__text">
        Quis ipsum suspendisse ultrices gravida.
Risus commodo viverra maecenas accumsan.
      </p>
    </header>
    <aside class="grid grid--1x2 testomonial-container">
      <div class="testomonial__img">
        <img src="../images/testomonial.jpg" alt="My wife's testomonial" />
        <span class="icon-container icon-container--testomonial">
          <svg class="icon--44 icon--testomonial">
            <use href="../images/icons.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
          quos magnam necessitatibus, esse, asperiores et odit fugit commodi
          praesentium quisquam perferendis pariatur! Autem facilis corrupti
        </p>

        <div class="media">
          <div class="media__icon">
            <span class="icon-container">
              <svg class="icon--nobg">
                <use href="../images/icons.svg#line"></use>
              </svg>
            </span>
          </div>
          <div class="media__content">
            <h4 class="media__title">Pada Lan</h4>
            <p class="media__text">SioKan Corporation</p>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</section>