/* style.css */

/* mobile first */

:root {
  /* colour palette */
  --color_whitebg_heading: #1b0760;
  --color_blackbg_heading: #ffffff;
  --color_blackbg: #000000;
  --color_whitebg: #f9fafb;
  --color_text: #918ca4;
  --color_tomato: #ff3400;
  --color_skyblue: #00d8fe;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 7rem;
  color: var(--color_blackbg_heading);
}

h2 {
  font-size: 4rem;
  color: var(--color_whitebg_heading);
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  color: var(--color_text);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}

/* links */

a {
  text-decoration: none;
  font-weight: 700;
}

.link-arrow {
  font-size: 2rem;
  color: var(--color_tomato);
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 1.5px;
  transition: margin-left 0.6s;
}

.link-arrow:hover::after {
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.badges {
  padding: 0.8rem 1.8rem;
  white-space: nowrap;
  border-radius: 25px;
  font-weight: 700;
}

.badges--domain-price {
  font-size: 2rem;
  background-color: var(--color_whitebg);
  color: var(--color_whitebg_heading);
  transition: color, background-color 0.5s;
}

.badges--domain-price:hover {
  background-color: #00d9ff;
  color: var(--color_blackbg_heading);
}

.badges--discount {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.6rem;
  color: var(--color_blackbg_heading);
}

@media screen and (max-width: 510px) {
  .badges--domain-price {
    font-size: 1.5rem;
  }

  .badges {
    padding: 0.4rem 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .badges--domain-price {
    font-size: 1.5rem;
  }
  .badges--discount {
    font-size: 1.2rem;
  }
}

/* list */

.list {
  color: var(--color_whitebg_heading);
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.list--banner {
  font-size: 2.4rem;
  font-weight: 500;
  list-style-image: url(../images/tick.svg);
}
.list--banner .list_items {
  padding-left: 1rem;
}

.list--price-badge {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, 6rem);
  grid-column-gap: 5%;
  justify-items: center;

  justify-content: center;
}

.list--price-badge .list_items {
  display: inline-block;
}

.list__to-center {
  margin: auto;
}

@media screen and (max-width: 375px) {
  .list--banner {
    font-size: 1.8rem;
  }
  .list--price-badge {
    grid-template-columns: repeat(2, min-content);
  }
}
@media screen and (min-width: 1024px) {
  .list--price-badge {
    display: flex;
  }
}

/* bannar */

.banner {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 4rem;
  transition: transform 0.5s;
  box-shadow: 0 0 10px 5px rgba(194, 194, 194, 1);
}

.banner:hover {
  transform: scale(1.05);
}

.banner__content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 22px 38px 0;
}

.banner__content .list--banner {
  flex-grow: 1;
}

.banner__content .list_items {
  white-space: nowrap;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.banner__content .btn--outline {
  margin: auto 0 5rem;
  width: 100%;
}

.banner__header {
  display: block;
  color: var(--color_blackbg_heading);
  padding: 25px 30px;
}

.banner__header h4 {
  margin-top: 0;
}

.banner__header div {
  margin-bottom: 1.7rem;
}

.banner__price {
  font-size: 6rem;
}

.banner__cycle {
  font-size: 2.4rem;
  opacity: 0.8;
  margin-left: 0.6rem;
  margin-right: 1.5rem;
}

.banner__description {
  font-size: 2rem;
}

.banner--skyblue .banner__header {
  background-color: var(--color_skyblue);
}

.banner--skyblue .badges--discount {
  background-color: #01c4e7;
}

.banner--cobaltblue .banner__header {
  background-color: #2584ff;
}

.banner--cobaltblue .badges--discount {
  background-color: #126de4;
}

@media screen and (min-width: 768px) {
  .banner--skyblue {
    margin-top: 3rem;
  }

  .banner--cobaltblue .banner__header {
    padding-bottom: 4rem;
  }

  .banner--cobaltblue .btn--outline {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .banner__header h4 {
    font-size: 1.4rem;
  }

  .banner__price {
    font-size: 5rem;
  }

  .banner__description {
    font-size: 1.5rem;
  }

  .banner__cycle {
    font-size: 1.6rem;
  }

  .list_items {
    font-size: 1.8rem;
  }
}
/* icons */
.icon--54 {
  width: 54px;
  height: 54px;
}

.icon--44 {
  width: 44px;
  height: 44px;
}
.icon--20 {
  width: 20px;
  height: 20px;
}

.icon-container {
  display: inline-flex;
  width: 88px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-container--small {
  width: 50px;
  height: 50px;
}

.icon--lightgreybg {
  background-color: #f3f9fa;
}

.icon--darkgreybg {
  background-color: #393939;
}

.icon--nobg {
  background-color: transparent;
}

.icon--inpara {
  fill: #2584ff !important;
}

.icon--white {
  fill: #ffffff !important;
}

.icon--search {
  width: 2.5rem;
  height: 2.5rem;
}

.icon--testomonial {
  fill: var(--color_blackbg_heading);
}

.icon-container--testomonial {
  width: 90px;
  height: 90px;
  background-color: var(--color_tomato);
  position: absolute;
  right: -45px;
  top: 25px;
}

/* button */

.btn {
  padding: 2rem 1.5rem;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  border: 0;
  border-radius: 4rem;
  cursor: pointer;
}

.btn--tomato {
  background-color: var(--color_tomato);
  color: var(--color_blackbg_heading);
}

.btn--tomato:hover {
  background-color: #e81a1a;
}

.btn--skyblue {
  background-color: var(--color_skyblue);
  color: var(--color_blackbg_heading);
  font-size: 1.77rem;
}

.btn--skyblue:hover {
  background-color: #028bad;
}

.btn--outline {
  background-color: unset;
  border: 2.4px solid var(--color_whitebg_heading);
  color: var(--color_whitebg_heading);
  font-size: 1.8rem;
}

.btn--outline:hover {
  background-color: var(--color_whitebg_heading);
  color: var(--color_blackbg_heading);
}

.btn--callout {
  padding: 2rem 8rem;
}

.btn--search {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 4vw;
  padding-left: 2.3vw;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .btn--callout {
    padding: 2rem 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .btn--tomato,
  .btn--skyblue {
    font-size: 1.5rem;
  }

  .btn--outline {
    font-size: 1.4rem;
  }
}

/* search bar */

.search-bar {
  width: 100%;
  background-color: var(--color_blackbg_heading);
  border-radius: 3.5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0.3rem;
  overflow: hidden;
  box-shadow: lightgray 0 0 30px;
}

.input-domain {
  width: 40%;
  outline: none;
  border: none;
  margin-left: 3rem;
  color: var(--color_whitebg_heading);
  font-size: 2rem;
  flex-grow: 1;
}

.input-domain ::placeholder {
  color: var(--color_whitebg_heading);
  opacity: 0.3;
}

.search-bar span {
  margin-left: 0.8rem;
}

@media screen and (min-width: 1024px) {
  #input-domain {
    font-size: 1.5rem;
  }
}

/* media object */

.media {
  display: flex;
  flex-direction: row;
}

.media__icon {
  margin-top: 1rem;
}
.media__content {
  margin: 0 0 0 2rem;
}

.media__text {
  font-size: 2rem;
  margin-top: 0;
}

.media__title {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

/* quote */

.quote {
  margin: 0;
}

.quote .media {
  margin-top: 5rem;
}

.quote .media__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #1f0c68;
  font-size: 3rem;
}

.quote .media__icon {
  position: relative;
  bottom: 1.5rem;
}

.quote .media__text {
  opacity: 50%;
}

.quote__text {
  font-size: 3rem;
  font-style: italic;
  color: #5c5577;
  width: 100%;
  margin: 4rem 0 0 0;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

@media screen and (min-width: 768px) {
  .quote__text {
    margin-top: 9rem;
  }

  .quote__text,
  .quote .media__title {
    font-size: 2.4rem;
  }

  .quote .media__text {
    font-size: 2rem;
  }
}

/* grid */

.grid {
  display: grid;
}

.grid--center {
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 7rem;
  }

  .grid--callout {
    grid-template-columns: 1fr auto;
  }
}

/* testomonial */

.testomonial-container {
  background-color: var(--color_blackbg_heading);
  padding: 3.5rem;
  box-shadow: 0 0 7rem rgba(173, 170, 170, 0.6);
  border-radius: 10px;
}

.testomonial__img {
  position: relative;
  margin: 0 4rem;
}

.testomonial__img > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .testomonial__img {
    margin: 0;
  }
}

/* call out */

.callout-container {
  background-color: #2584ff;
  border-radius: 10px;
  padding: 5rem 3rem;
}

.callout-container .btn {
  justify-self: center;
}

.callout__text {
  text-align: center;
}

.callout__heading,
.callout__text > p {
  color: var(--color_blackbg_heading);
}

.callout__heading {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.callout__text > p {
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .callout__text {
    text-align: left;
    margin-right: 3rem;
  }
  .callout__text > p {
    font-size: 2rem;
  }
}

/* collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  height: 100%;
}

.collapsible__header .icon--20 {
  transform: rotate(90deg);
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

.collapsible--expanded .icon--20 {
  transform: rotate(180deg);
}

.collapsible .icon--20 {
  transition: transform 0.8s;
}

/* block */
.container {
  max-width: 580px;
  margin: 0 auto;
}

.block {
  --block-padding-vert: 9rem;
  padding: var(--block-padding-vert) 3rem;
}

.block--darkbg {
  background-color: #000000;
}

.block--darkbg .block__heading {
  color: #ffffff;
}

.block--whitebg {
  background-color: #ffffff;
}

.block--whitebg .block__heading {
  color: var(--color_whitebg_heading);
}

.block--skewed {
  padding-bottom: calc(var(--block-padding-vert) + 5.5rem);
}

.block--skewed--right {
  clip-path: polygon(0 0, 100% 0%, 100% 89%, 0% 100%);
}

.block--skewed--left {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 89%);
}

.block__header {
  text-align: center;
}

.block__header p {
  font-size: 2.2rem;
}

.block__heading {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1140px;
  }
}

/* navigation bar */

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  flex-wrap: wrap;
}

.nav__logo {
  position: relative;
}

.nav__logo img {
  position: absolute;
  top: 10px;
}

.nav__list {
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
.nav__list__item {
  width: 100%;
  font-size: 1.6rem;
  border-bottom: 2px solid #222222;
  padding: 2rem 0;
}

.nav__list__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__list__item > a:hover {
  color: #ffffff;
}

.nav__icon {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.nav__icon:hover {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
  }

  .nav .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .nav__icon {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    margin-top: 0;
  }

  .nav__list__item {
    border: none;
    padding: 0;
    margin: auto 2rem;
    font-size: 1.6rem;
  }
}

/* hero */

.hero .grid--1x2 {
  margin-right: 0;
}

.hero__img {
  width: 100%;
  margin-bottom: 4rem;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content .btn {
  margin: 0 auto;
  width: 70%;
}

.hero__content .block__heading {
  margin-bottom: 0;
}

.hero__content .block__header p {
  font-size: 2rem;
  margin-bottom: 4rem;
  letter-spacing: 0.3rem;
}

@media (min-width: 768px) {
  .hero {
    padding: 9rem 3rem;
  }

  .hero .grid--1x2 {
    column-gap: 0;
  }

  .hero__content {
    align-self: center;
  }

  .hero__content .btn {
    margin-left: 0;
  }

  .hero__content .block__header {
    text-align: left;
  }
}

/* domain-block */

.block-domain__price {
  margin: 3rem auto 0;
  max-width: 482px;
}

.list--price-badge a {
  display: none;
}

@media screen and (min-width: 1024px) {
  .block-domain .block__header {
    font-size: 1.8rem;
  }

  .block-domain .block__header p,
  .block-domain .search-bar {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  .block-domain__price {
    margin-top: 3.5rem;
  }

  .list--price-badge a {
    display: inline;
    vertical-align: center;
  }
}

/* block-banner */

.banner-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .banner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3%;
    align-items: flex-start;
  }

  .banner-container--list {
    height: 19rem;
  }
}

/* feature component */

.feature-container {
  margin-top: 10rem;
}

.feature-container .grid {
  justify-items: center;
  align-items: center;
}

.feature-container .media {
  flex-direction: column;
}

.feature-container .media__icon {
  margin-bottom: 2.5rem;
}

.feature-container .media__content {
  margin-left: 0;
}

.feature-container .media__title {
  color: var(--color_whitebg_heading);
}

.feature-container .media__content p {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.feature__info {
  padding-left: 2rem;
  margin-bottom: 3.5rem;
}

.feature__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature-container:nth-of-type(even) .feature__info {
    order: 2;
  }
}

/* showcase block */

.block-showcase .media {
  margin-top: 6rem;
}

.block-showcase .media__icon {
  margin-top: 0;
}

.block-showcase .media__title {
  color: var(--color_blackbg_heading);
}

.block-showcase .media__text {
  font-size: 2rem;
}

.showcase__img {
  width: 100%;
}

.showcase__media {
  margin-bottom: 9rem;
}

.showcase__title {
  color: var(--color_blackbg_heading);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .showcase__grid {
    column-gap: 4rem;
  }

  .showcase__title {
    margin-bottom: 0;
  }

  .block-showcase .media__title {
    margin-bottom: 1.8rem;
  }

  .block-showcase .media__text {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .showcase__grid {
    grid-template-columns: 50% 50%;
  }

  .showcase__picture {
    justify-self: end;
  }

  .showcase__img {
    width: auto;
    max-width: 680px;
  }
}

/* testomonial-block */

.block-testomonial .block__heading {
  margin-bottom: 0;
}

.testomonial-container {
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .block-testomonial .block__text {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

/* footer block */

.block-footer .collapsible__heading {
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.block-footer .collapsible__list-item {
  margin-bottom: 2.5rem;
}

.block-footer .collapsible__list-item a {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.block-footer .collapsible__list-item a:hover {
  opacity: 1;
}

.block-footer .copyright__text {
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 0.5;
}

.footer__list {
  display: grid;
}

.footer__item {
  padding-top: 3.2rem;
}

.footer__collapsible {
  padding-bottom: 2.2rem;
  border-bottom: #393939 solid 2px;
}

.footer__logo {
  justify-self: center;
}

.footer__logo__img {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .block-footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .block-footer .collapsible__heading {
    font-size: 1.6rem;
  }

  .block-footer .collapsible__list-item a {
    font-size: 1.5rem;
  }

  .block-footer .icon-container {
    display: none;
  }

  .footer__list {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__collapsible {
    border-bottom: 0;
  }

  .footer__logo {
    justify-self: start;
    order: -1;
  }

  .footer__logo__img {
    margin-top: 0;
  }
}
