/* style.css */

/* mobile first */

:root {
  /* colour palette */
  --color_whitebg_heading: #1b0760;
  --color_blackbg_heading: #ffffff;
  --color_blackbg: #000000;
  --color_whitebg: #f9fafb;
  --color_text: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: gold;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 7rem;
  color: var(--color_blackbg_heading);
}

h2 {
  font-size: 4rem;
  color: var(--color_whitebg_heading);
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  color: var(--color_text);
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}

/* links */

a {
  text-decoration: none;
  font-weight: 700;
}

.link-arrow {
  font-size: 2rem;
  color: #ff3400;
}

.link-arrow::after {
  content: "-->";
  margin-left: 1.5px;
  transition: margin-left 0.6s;
}

.link-arrow:hover::after {
  margin-left: 8px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.badges {
  padding: 0.8rem 1.8rem;
  white-space: nowrap;
  border-radius: 25px;
  font-weight: 700;
}

.badges--domain-price {
  font-size: 2rem;
  background-color: var(--color_whitebg);
  color: var(--color_whitebg_heading);
  transition: color, background-color 0.5s;
}

.badges--domain-price:hover {
  background-color: #00d9ff;
  color: #ffffff;
}

.badges--discount {
  font-size: 1.6rem;
  background-color: #01c4e7;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .badges--domain-price {
    font-size: 1.5rem;
  }
  .badges--discount {
    font-size: 1.2rem;
  }
}

/* list */

.list {
  color: var(--color_whitebg_heading);
  list-style: none;
}

.list--banner {
  font-size: 2.4rem;
  font-weight: 400;
  list-style-image: url(../images/tick.svg);
}
.list--banner .list_items {
  padding-left: 1rem;
}

.list--price-badge {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, min-content);
  row-gap: 1.5rem;
  column-gap: 1.75rem;
}

.list--price-badge .list_items {
  display: inline-block;
}

/* icons */

.icon-container {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.icon--greybg {
  background-color: #f3f9fa;
}

.icon--blackbg {
  background-color: var(--color_blackbg);
}

.icon {
  fill: #2584ff;
  width: 30px;
  height: 30px;
}
