<footer class="block block--darkbg block-footer">
  <ul class="list container footer__list">
    <li
      class="footer__item collapsible collapsible--expanded footer__collapsible"
    >
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Products</h3>
        <span class="icon-container icon-container--small icon--darkgreybg">
          <svg class="icon--20 icon--white">
            <use href="../images/icons.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item collapsible__list-item">WordPress Host</li>
        <li class="list__item collapsible__list-item">
          Free Automated WordPress
        </li>
        <li class="list__item collapsible__list-item">Migrations</li>
        <li class="list__item collapsible__list-item">Domain Names</li>
        <li class="list__item collapsible__list-item">Monthly Web Hosting</li>
      </ul>
      <script src="../js/main.js"></script>
    </li>
    <li
      class="footer__item collapsible collapsible--expanded footer__collapsible"
    >
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Company</h3>
        <span class="icon-container icon-container--small icon--darkgreybg">
          <svg class="icon--20 icon--white">
            <use href="../images/icons.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item collapsible__list-item">About</li>
        <li class="list__item collapsible__list-item">Affiliates</li>
        <li class="list__item collapsible__list-item">Blog</li>
        <li class="list__item collapsible__list-item">Careers</li>
        <li class="list__item collapsible__list-item">Community</li>
        <li class="list__item collapsible__list-item">News</li>
        <li class="list__item collapsible__list-item">Green Hosting</li>
      </ul>
      <script src="../js/main.js"></script>
    </li>
    <li
      class="footer__item collapsible collapsible--expanded footer__collapsible"
    >
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Support</h3>
        <span class="icon-container icon-container--small icon--darkgreybg">
          <svg class="icon--20 icon--white">
            <use href="../images/icons.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item collapsible__list-item">Contact</li>
        <li class="list__item collapsible__list-item">Knowledge Base</li>
        <li class="list__item collapsible__list-item">Forums</li>
        <li class="list__item collapsible__list-item">System Status</li>
        <li class="list__item collapsible__list-item">Web Hoting</li>
        <li class="list__item collapsible__list-item">DreamCompute</li>
      </ul>
      <script src="../js/main.js"></script>
    </li>
    <li
      class="footer__item collapsible collapsible--expanded footer__collapsible"
    >
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Domains</h3>
        <span class="icon-container icon-container--small icon--darkgreybg">
          <svg class="icon--20 icon--white">
            <use href="../images/icons.svg#chevron"></use>
          </svg>
        </span>
      </header>
      <ul class="collapsible__content list">
        <li class="list__item collapsible__list-item">Domain Checker</li>
        <li class="list__item collapsible__list-item">Domain Transfer</li>
        <li class="list__item collapsible__list-item">Free Domain</li>
        <li class="list__item collapsible__list-item">XYZ Domain</li>
        <li class="list__item collapsible__list-item">Cheap SSL Certificate</li>
      </ul>
      <script src="../js/main.js"></script>
    </li>
    <li class="footer__item footer__logo">
      <img class="footer__logo__img" src="../images/logo.png" alt="" />
      <div class="copyright__text">Copyright © 2020 mosh</div>
    </li>
  </ul>
</footer>
