<section class="block block--whitebg block-feature">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">This is the heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        sapiente nemo eaque molestiae fugiat corporis voluptas officia rem harum
        unde, fuga aliquam rerum. Provident maiores, dolores illum eaque modi
        adipisci.
      </p>
    </header>
    <article class="feature">
      <div class="feature-container grid grid--1x2 grid--center">
        <div class="media feature__info">
          <div class="media__icon">
            <span class="icon-container icon--lightgreybg">
              <svg class="icon icon--inpara">
                <use href="../images/icons.svg#computer"></use>
              </svg>
            </span>
          </div>
          <div class="media__content">
            <h3 class="media__title">Super Easy to Use</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
              necessitatibus, optio quisquam magni eveniet facilis vero mollitia
              obcaecati maiores id, rem nulla sed expedita? Repellendus nulla
              sed doloremque vero hic.
            </p>
          </div>
          <a href="#" class="link-arrow"> Learn More </a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
          />
          <source
            type="image/jpg"
            rcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
          />
          <img class="feature__img" src="images/easy@2x.jpg" alt="" />
        </picture>
      </div>
      <div class="feature-container grid grid--1x2 grid--center">
        <div class="media feature__info">
          <div class="media__icon">
            <span class="icon-container icon--lightgreybg">
              <svg class="icon icon--inpara">
                <use href="../images/icons.svg#easy"></use>
              </svg>
            </span>
          </div>
          <div class="media__content">
            <h3 class="media__title">Simple and fast website</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
              necessitatibus, optio quisquam magni eveniet facilis vero mollitia
              obcaecati maiores id, rem nulla sed expedita? Repellendus nulla
              sed doloremque vero hic.
            </p>
          </div>
          <a href="#" class="link-arrow"> Learn More </a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
          />
          <source
            type="image/jpg"
            rcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
          />
          <img class="feature__img" src="images/fast@2x.jpg" alt="" />
        </picture>
      </div>
      <div class="feature-container grid grid--1x2 grid--center">
        <div class="media feature__info">
          <div class="media__icon">
            <span class="icon-container icon--lightgreybg">
              <svg class="icon icon--inpara">
                <use href="../images/icons.svg#settings"></use>
              </svg>
            </span>
          </div>
          <div class="media__content">
            <h3 class="media__title">WordPress made easy</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
              necessitatibus, optio quisquam magni eveniet facilis vero mollitia
              obcaecati maiores id, rem nulla sed expedita? Repellendus nulla
              sed doloremque vero hic.
            </p>
          </div>
          <a href="#" class="link-arrow"> Learn More </a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
          />
          <source
            type="image/jpg"
            rcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
          />
          <img class="feature__img" src="images/wordpress@2x.jpg" alt="" />
        </picture>
      </div>
      <div class="feature-container grid grid--1x2 grid--center">
        <div class="media feature__info">
          <div class="media__icon">
            <span class="icon-container icon--lightgreybg">
              <svg class="icon icon--inpara">
                <use href="../images/icons.svg#clock"></use>
              </svg>
            </span>
          </div>
          <div class="media__content">
            <h3 class="media__title">WordPress made easy</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
              necessitatibus, optio quisquam magni eveniet facilis vero mollitia
              obcaecati maiores id, rem nulla sed expedita? Repellendus nulla
              sed doloremque vero hic.
            </p>
          </div>
          <a href="#" class="link-arrow"> Learn More </a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="images/support.webp 1x, images/support@2x.webp 2x"
          />
          <source
            type="image/jpg"
            rcset="images/support.jpg 1x, images/support@2x.jpg 2x"
          />
          <img class="feature__img" src="images/support@2x.jpg" alt="" />
        </picture>
      </div>
    </article>
  </div>
</section>
