<section class="block block--whitebg block-domain">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">The best webhosting Starting at per month</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        sapiente nemo eaque molestiae fugiat corporis voluptas officia rem harum
        unde, fuga aliquam rerum. Provident maiores, dolores illum eaque modi
        adipisci.
      </p>
    </header>
    <div class="search-bar">
      <input
        type="text"
        class="input-domain"
        placeholder="Enter domain name here . . ."
      />
      <button class="btn btn--tomato btn--search">
        <svg class="icon--search icon--nobg icon--white">
          <use href="../images/icons.svg#search"></use>
        </svg>
        <span> search</span>
      </button>
    </div>
    <div class="block-domain__price">
      <ul class="list list--price-badge">
        <li class="list_items">
          <div class="badges badges--domain-price">.com $9.26</div>
        </li>
        <li class="list_items">
          <div class="badges badges--domain-price">.sg $7.91</div>
        </li>
        <li class="list_items">
          <div class="badges badges--domain-price">.space $12.98</div>
        </li>
        <li class="list_items">
          <div class="badges badges--domain-price">.info $14.15</div>
        </li>
        <li class="list_items">
          <div class="badges badges--domain-price">.net $18.15</div>
        </li>
        <li class="list_items">
          <div class="badges badges--domain-price">.xyz $10.15</div>
        </li>
        <li class="list_items list__to-center">
          <a class="badges badges--domain-price" href="#">More</a>
        </li>
      </ul>
    </div>
  </div>
</section>
