<div class="block block--whitebg block-banner-price">
  <div class="container banner-container">
    <div class="banner banner--skyblue">
      <header class="banner__header">
        <h4 class="banner__name">Entry</h4>
        <div>
          <span class="banner__price">$14</span>
          <span class="banner__cycle">/month</span>
          <span class="badges badges--discount">10% OFF </span>
        </div>
        <span class="banner__description">Easy start on the cloud</span>
      </header>
      <div class="banner__content">
        <div class="banner-container--list">
          <ul class="list list--banner">
            <li class="list_items">Unlimited Websites</li>
            <li class="list_items">Unlimited Bandwidth</li>
            <li class="list_items">100 GB SSD Storage</li>
            <li class="list_items">3 GB RAM</li>
          </ul>
        </div>
        <button class="btn btn--outline">buy now</button>
      </div>
    </div>
    <div class="banner banner--cobaltblue">
      <header class="banner__header">
        <h4 class="banner__name">Business</h4>
        <div>
          <span class="banner__price">$44</span>
          <span class="banner__cycle">/month</span>
          <span class="badges badges--discount">20% OFF </span>
        </div>
        <span class="banner__description">Optimal Cloud Experience</span>
      </header>
      <div class="banner__content">
        <div class="banner-container--list">
          <ul class="list list--banner">
            <li class="list_items">Unlimited Websites</li>
            <li class="list_items">Unlimited Bandwidth</li>
            <li class="list_items">100 GB SSD Storage</li>
            <li class="list_items">3 GB RAM</li>
            <li class="list_items">2 CPU Cores</li>
          </ul>
        </div>
        <button class="btn btn--outline">buy now</button>
      </div>
    </div>
    <div class="banner banner--skyblue">
      <header class="banner__header">
        <h4 class="banner__name">Business plus</h4>
        <div>
          <span class="banner__price">$54</span>
          <span class="banner__cycle">/month</span>
          <span class="badges badges--discount">10% OFF </span>
        </div>
        <span class="banner__description">Easy start on the cloud</span>
      </header>
      <div class="banner__content">
        <div class="banner-container--list">
          <ul class="list list--banner">
            <li class="list_items">Unlimited Websites</li>
            <li class="list_items">Unlimited Bandwidth</li>
            <li class="list_items">100 GB SSD Storage</li>
            <li class="list_items">3 GB RAM</li>
            <li class="list_items">2 CPU Cores</li>
          </ul>
        </div>
        <button class="btn btn--outline">buy now</button>
      </div>
    </div>
  </div>
</div>
