<section
  class="block block--darkbg block--skewed block--skewed--left block-showcase"
>
  <h2 class="showcase__title">User-Friendly Control Panel</h2>
  <div class="container grid grid--1x2 grid--center showcase__grid">
    <picture class="showcase__picture">
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img class="showcase__img" src="images/ipad@2x.png" alt="" />
    </picture>

    <article class="showcase__media">
      <div class="media">
        <div class="media__icon">
          <span class="icon-container--small">
            <svg class="icon--44 icon--nobg icon--inpara">
              <use href="../images/icons.svg#computer"></use>
            </svg>
          </span>
        </div>
        <div class="media__content">
          <h4 class="media__title">Easy Start & Managed Updates</h4>
          <p class="media__text">
            Our cloud plans include easy onboarding for new and existing sites
            and managed WordPress and WooCommerce auto-updates.
          </p>
        </div>
      </div>

      <div class="media">
        <div class="media__icon">
          <span class="icon-container--small">
            <svg class="icon--44 icon--nobg icon--inpara">
              <use href="../images/icons.svg#growth"></use>
            </svg>
          </span>
        </div>
        <div class="media__content">
          <h4 class="media__title">Staging, Git & WP-CLI</h4>
          <p class="media__text">
            We make your WordPress and WooCommerce development flow easier with
            a convenient staging tool and Git and WP-CLI integration.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__icon">
          <span class="icon-container--small">
            <svg class="icon--44 icon--nobg icon--inpara">
              <use href="../images/icons.svg#wordpress"></use>
            </svg>
          </span>
        </div>
        <div class="media__content">
          <h4 class="media__title">Dynamic Caching & More</h4>
          <p class="media__text">
            Speed up your WordPress and Woo sites with our SG Optimizer plugin
            through smart dynamic caching and multiple other performance
            optimizations.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
