<section
  class="block block--darkbg block--skewed block--skewed--right container"
>
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">This is the heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        sapiente nemo eaque molestiae fugiat corporis voluptas officia rem harum
        unde, fuga aliquam rerum. Provident maiores, dolores illum eaque modi
        adipisci.
      </p>
    </header>
  </div>
</section>
<section class="block block--whitebg block--skewed block--skewed--left">
  <div class="contaienr">
    <header class="block__header">
      <h2 class="block__heading">This is the heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
        sapiente nemo eaque molestiae fugiat corporis voluptas officia rem harum
        unde, fuga aliquam rerum. Provident maiores, dolores illum eaque modi
        adipisci.
      </p>
    </header>
  </div>
</section>
