<section class="block block--darkbg block--skewed block--skewed--right hero">
  <div class="container">
    <!-- margin auto cannot align to center for some reason 
        if I put container and grid to the same div -->
    <div class="grid grid--1x2">
      <div class="hero__content">
        <header class="block__header">
          <h1 class="block__heading">Cloud Hosting for Pros</h1>
          <p>Deploy your website in less than 60 seconds</p>
        </header>
        <button class="btn btn--tomato">GET STARTED</button>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="../images/banner.webp 1x, ../images/banner@2x.webp 2x"
        />

        <source
          type="image/png"
          srcset="../images/banner.png 1x, ../images/banner@2x.png 2x"
        />
        <img src="../images/banner.png" alt="" class="hero__img" />
      </picture>
    </div>
  </div>
</section>
