<div class="media">
      <div class="media__icon">
        <span class="icon-container">
          <svg class="icon icon--nobg icon--inpara">
            <use href="../images/icons.svg#snap"></use>
          </svg>
        </span>
      </div>
      <div class="media__content">
        <h4 class="media__title">Easy Start & Managed Updates</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo,
          necessitatibus, optio quisquam magni eveniet facilis vero mollitia
          obcaecati maiores id, rem nulla sed expedita? Repellendus nulla sed
          doloremque vero hic.
        </p>
      </div>
    </div>