<nav class="nav collapsible collapsible--expanded">
  <a href="#" class="nav__logo"><img src="..\images\logo.svg" alt="logo" /></a>

  <span class="icon-container icon-container icon--nobg">
    <svg class="icon icon--white nav__icon">
      <use href="../images/icons.svg#menu"></use>
    </svg>
  </span>
  <ul class="list nav__list collapsible__content">
    <li class="nav__list__item"><a href="#">Hosting</a></li>
    <li class="nav__list__item"><a href="#">VPS</a></li>
    <li class="nav__list__item"><a href="#">Domain</a></li>
    <li class="nav__list__item"><a href="#">Pricing</a></li>
  </ul>
  <script src="../js/main.js"></script>
</nav>
