<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quos
    magnam necessitatibus, esse, asperiores et odit fugit commodi praesentium
    quisquam perferendis pariatur! Autem facilis corrupti inventore iure
    laboriosam culpa, recusandae impedit, labore laudantium iusto obcaecati
    exercitationem, asperiores provident illum esse?
  </p>

  <div class="media">
    <div class="media__icon">
      <span class="icon-container">
        <svg class="icon icon--nobg">
          <use href="../images/icons.svg#line"></use>
        </svg>
      </span>
    </div>
    <div class="media__content">
      <h4 class="media__title">Pada Lan</h4>
      <p class="media__text">SioKan Corporation</p>
    </div>
  </div>
</blockquote>
