<div class="grid grid--1x2 testomonial-container">
  <div class="testomonial__img">
    <img src="../images/testomonial.jpg" alt="My wife's testomonial" />
    <span class="icon-container icon-container--testomonial">
      <svg class="icon icon--testomonial">
        <use href="../images/icons.svg#quotes"></use>
      </svg>
    </span>
  </div>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quos
      magnam necessitatibus, esse, asperiores et odit fugit commodi praesentium
      quisquam perferendis pariatur! Autem facilis corrupti
    </p>

    <div class="media">
      <div class="media__icon">
        <span class="icon-container">
          <svg class="icon--nobg">
            <use href="../images/icons.svg#line"></use>
          </svg>
        </span>
      </div>
      <div class="media__content">
        <h4 class="media__title">Pada Lan</h4>
        <p class="media__text">SioKan Corporation</p>
      </div>
    </div>
  </blockquote>
</div>
